<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group {{HighlightState}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" 
             ng-model="FoodList">
             <label>
             Note: Empty , , are not counted
             </label>

         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CheckFood()">Check If Too Much</button>
         </div>
         <div class="form-group message {{HighlightState}}">
           <!-- Your message can go here. -->
           <label class="control-label">{{Message}}</label>
         </div>
   </div>


</body>
</html>
